.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  .filters__container {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
  }

  